.honai {
	background: url("../../../Assets/honai.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.cendrawasih {
	background: url("../../../Assets/cendrawasih.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
