.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.honai {
	background: url("../../Assets/rumahHonai.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.cendrawasih {
	background: url("../../Assets/cendrawasih.png");
	background-size: cover;
	background-repeat: no-repeat;
}
