.hero {
	background: url("../../Assets/home-bg.png");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.title h1 {
	font-size: 10rem;
	text-shadow: 5px 5px black;
	color: whitesmoke;
}
.categories {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow-x: hidden;
}
.categories .category {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
}
.category .categoryTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	content: "";
	height: 30%;
	width: 100%;
	top: 35%;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}
.category:hover .categoryTitle,
.category:focus .categoryTitle {
	height: 100%;
	transition: height 0.5s;
}

.category .categoryTitle h2 {
	color: whitesmoke;
	font-size: 2.5rem;
	text-align: center;
	text-shadow: 1px 1px black;
}
.custom {
	background: url("../../Assets/customs&traditions.jpg");
	background-position: center;
	background-size: cover;
}
.culinary {
	background: url("../../Assets/culinary.jpg");
	background-position: center;
	background-size: cover;
}
