.papeda {
	background: url("../../../Assets/papeda.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.caterpillar {
	background: url("../../../Assets/caterpillar.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}